@model  mvc_tarea_.Models.personal


@{
    ViewBag.Title = "Home Page";
}

<h2>Nombre: @Model.nombre</h2>
<h2>Apellido:@Model.apellido</h2>
<h2>Edad: @Model.edad</h2>
<h2>Correo:  @Model.correo</h2>
<h2>direccion: @Model.direccion</h2>
<h2>Numero: @Model.Telefono</h2>